/* 紺碧 #007bbb*/
/* 向日葵色 #fcc800*/
h1 {
color:#fcc800;
font-size:190%;
}

body {
background:#FFFFCC;
}

div {
width:640px;
margin-right:auto;
margin-left:auto;
border : solid 0px;
}

.txt {
display: inline-block;
text-align: left;
color: #443532;
}

h1,h2,footer,img,header,body {
text-align:center;
font-family: "Sawarabi Mincho";
}

li {
list-style:none;
width:25%;
float:left;
border-bottom:solid 20px #007bbb;
}

p img {
border-radius:20px;
}

header {
border-top:solid 20px #007bbb;
}

.now {
background-color:#FFCC00;
}


textarea {
 resize: none;
  width:400px;
  height:200px;
}
input {
resize: vertical;
 width:400px;
}

}
table {
margin-right:auto;
margin-left:auto;

}

