/* 紺碧 #007bbb*/
/* 向日葵色 #fcc800*/
/* 生成り色 #fbfaf5*/

h1{
 border: solid;
}
footer{
 border: solid;
}
img{
 border: solid;
}
header{
 border: solid;
}
body1{
 border: solid;
}
h1{
 border: solid;
}


h1,,footer,img,header,body {
text-align:center;
font-family: "Sawarabi Mincho";

}

h1 {
color:#fcc800;
font-size:190%;
}

body {
background:#fbfaf5;
}
header {
/*border-top:solid 20px #007bbb;*/
/*margin : 0 auto;*/
}

.logo {
float: left;
width:100px;

border-radius:0px;
}

.header {
width:1080px;
border-radius:1px;
margin : 0 auto;
}

div {
width:1080px;
margin-right:auto;
margin-left:auto;
border : solid 0px;
}



/*img {
width:1080px;
}*/

.txt {
display: inline-block;
text-align: left;
color: #443532;
}

li {
 border: solid;
list-style:none;
padding-left: initial;
width:25%;
float:left;
/*border-bottom:solid 20px #007bbb;*/
}

p img {
border-radius:20px;
}

.now {
background-color:#FFCC00;
}


textarea {
 resize: none;
  width:400px;
  height:200px;
}
input {
resize: vertical;
 width:400px;
}

}
table {
margin-right:auto;
margin-left:auto;

}
*/
